:root {
    --background-color: #e5e7eb;
    --card-background-color: white;
    --border-color: #94a3b8;
    --hover-color: #334155;
    --read: #22c55e;
    --not-read: #ef4444;

}

body {
    background-color: var(--background-color);
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

#h1div {
    background-color: white;
    padding: 0.75rem 0;
    box-shadow: 0 5px 5px #999999;
}

h1, h2 {
    color: var(--hover-color);
    text-align: center;
    margin: 0;   
}

h1 {
    font-family: 'Fugaz One', cursive;
    font-size: 3rem;
}

#content {
    display: grid;
    grid-template: 1fr / 3fr 1fr;
    padding: 1.5rem;
}

#container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.bookcard {
 background-color: var(--card-background-color);
 padding: 2rem 2rem 1rem 2rem;
 border-radius: 1rem;
 box-shadow: 1px 1px 4px var(--border-color);
 display: grid;
 gap: 0.5rem;
 color: var(--hover-color);
 word-wrap: break-word;
 min-width: 0;
}

.bookcard p {
    word-wrap: break-word;
    min-width: 0;
    margin: 0;
}

.light {
    font-weight: 300;
}

.readbutton, .deletebutton, #addbutton {
    font-family: inherit;
    font-size: 0.75rem;
    padding: 0.75rem 0;
    margin: 0.3rem 0;
    border-radius: 1rem;
    background-color: var(--border-color);
    border: 1px solid var(--border-color);
    color: white;
    font-weight: 700;
}

.readbutton:hover, .deletebutton:hover, #addbutton:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

#formdiv {
    position: sticky;
    top: 0;
}

.formdiv {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.formdiv input {
    padding: 0.75rem;
    border-radius: 1rem;
    border: 2px solid var(--border-color);
}

.formdiv input:focus {
    outline: none !important;
    box-shadow: 0 0 8px var(--hover-color);
}

.redspan {
    color: rgb(180, 0, 0);
}

.read {
    background-color: red;
}