:root {
    --background-color: #f0fdfa;
    --card-background-color: #99f6e4;
    --border-color: #0f766e;
    --hover-color: #0d3533;
}

body {
    background-color: var(--background-color);
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 500;
    padding: 1rem;
}

h1, h2 {
    color: var(--hover-color);
    text-align: center;
    margin: 0;
    margin-bottom: 1rem;    
}

h1 {
    font-family: 'Fugaz One', cursive;
    font-size: 3rem;
}

#content {
    display: grid;
    grid-template: 1fr / 3fr 1fr;
}

#container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.bookcard {
 background-color: var(--card-background-color);
 padding: 2rem 2rem 1rem 2rem;
 border-radius: 1rem;
 box-shadow: 1px 1px 4px var(--border-color);
 display: grid;
 gap: 0.5rem;
 color: var(--hover-color);
}

.light {
    font-weight: 300;
}

.readbutton, .deletebutton, #addbutton {
    font-family: inherit;
    font-size: 0.75rem;
    padding: 0.75rem 0;
    margin: 0.3rem 0;
    border-radius: 1rem;
    background-color: var(--border-color);
    border: 1px solid var(--border-color);
    color: white;
    font-weight: 700;
}

.readbutton:hover, .deletebutton:hover, #addbutton:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.formdiv {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.formdiv input {
    padding: 0.75rem;
    border-radius: 1rem;
    border: 2px solid var(--border-color);
}

.formdiv input:focus {
    outline: none !important;
    box-shadow: 0 0 8px var(--hover-color);
}

.redspan {
    color: rgb(180, 0, 0);
}